<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ios-widget"
        version="0.0.1">
    <name>iOS Widget Plugin</name>
    <description>Cordova iOS Widget Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ios,widget</keywords>
    
    <js-module src="www/widget.js" name="widget">
        <clobbers target="cordova.plugins.iosWidget" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iOSWidget">
                <param name="ios-package" value="CDViOSWidget" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSExtension">
            <dict>
                <key>NSExtensionPointIdentifier</key>
                <string>com.apple.widgetkit-extension</string>
            </dict>
       </config-file>

        <preference name="UseSwiftLanguageVersion" value="5" />
        <dependency id="cordova-plugin-add-swift-support" url="https://github.com/OutSystems/cordova-plugin-add-swift-support.git#2.0.3-OS1"/>
        
        <header-file src="src/ios/CDViOSWidget.h" />
        <source-file src="src/ios/CDViOSWidget.m" />

        <source-file src="src/ios/MyWidget/MyWidgetBundle.swift" target-dir="MyWidget" />
        <source-file src="src/ios/MyWidget/MyWidgetControl.swift" target-dir="MyWidget" />
        <source-file src="src/ios/MyWidget/MyWidget.swift" target-dir="MyWidget" />
        <source-file src="src/ios/MyWidget/MyWidgetLiveActivity.swift" target-dir="MyWidget" />
        <source-file src="src/ios/MyWidget/AppIntent.swift" target-dir="MyWidget" />
        
        <framework src="WidgetKit.framework" />
        <framework src="SwiftUI.framework" />
    </platform>
</plugin>
