<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ios-widget"
        version="0.0.1">
    <name>iOS Widget Plugin</name>
    <description>Cordova iOS Widget Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ios,widget</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>
        
    <js-module src="www/widget.js" name="widget">
        <clobbers target="cordova.plugins.iosWidget" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iOSWidget">
                <param name="ios-package" value="CDViOSWidget" />
            </feature>
            <preference name="UseSwiftLanguageVersion" value="$USESWIFTLANGUAGEVERSION" />
            <preference name="deployment-target" value="$DEPLOYMENT-TARGET" />
        </config-file>
            
        <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="before_plugin_install" src="hooks/add_swift_support.js" />

        <config-file target="*-Info.plist" parent="NSExtension">
            <dict>
                <key>NSExtensionPointIdentifier</key>
                <string>com.apple.widgetkit-extension</string>
            </dict>
       </config-file>
        
        <!--<header-file src="src/ios/CDViOSWidget.h" />-->
        <!--<source-file src="src/ios/CDViOSWidget.m" />-->        
        <!--<source-file src="src/ios/MyWidget/MyWidgetBundle.swift" target-dir="MyWidget" />-->
        <!--<source-file src="src/ios/MyWidget/MyWidgetControl.swift" target-dir="MyWidget" />-->
        <!--<source-file src="src/ios/MyWidget/MyWidget.swift" target-dir="MyWidget" />-->
        <!--<source-file src="src/ios/MyWidget/MyWidgetLiveActivity.swift" target-dir="MyWidget" />-->
        <!--<source-file src="src/ios/MyWidget/AppIntent.swift" target-dir="MyWidget" />-->
        <!--<resource-file src="src/ios/MyWidget/Assets.xcassets" />-->
        
        <framework src="WidgetKit.framework" />
        <framework src="SwiftUI.framework" />

        <!--<dependency id="cordova-plugin-add-swift-support" url="https://github.com/OutSystems/cordova-plugin-add-swift-support.git#2.0.3-OS1"/>-->
            
    </platform>
</plugin>
